body{
	font-family: "Raleway";
	background-color: #81D8D0;
	overflow: hidden;
}

div.my-carousel-container{
	min-height: 700px;
	width: 900px;
	margin: 0 auto;
}

div.my-carousel-items{
	min-height: 540px;
}

figure.my-item{
	border-radius: 10px;
	display: none;
	overflow: hidden;
	box-shadow: 1px 5px 8px 6px rgba(0, 0, 0, 0.37)
}

figure.my-item,
figure.my-item img{
	height: 100%;
	width: 100%;
}

figure.my-item.active{
	display:inline-block;
}

figure figcaption{
	transition:all 2s;
	animation:1s slowEntrance ease-in-out;
	
}

div.my-thumbs .my-thumb,
div.my-carousel-container button.swing{
	transition: filter 1s;
}

div.my-thumbs{
	display:flex;
}

div.my-thumbs .my-thumb{
	height:80px;
	flex-grow:1;
	margin:1rem .5rem;
	border-radius:20px;
	filter: brightness(.5);
	box-shadow:0px 5px 7px 5px rgba(0, 0, 0, 0.37);
}

div.my-thumbs .my-thumb:hover{
	filter:none;
	transform: translateY(-10%);
}

div.my-thumbs .my-thumb.active{
	outline:2px solid white;
	padding:3px;
	filter: none;
}

div.my-previous,
div.my-next{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(149, 149, 149, 0.5);
}

div.my-previous.pulse,
div.my-next.pulse{
	animation:.5s scale ease-in-out alternate infinite;
}

div.my-previous{
	left: 1rem;
}

div.my-next{
	right: 1rem;
}

div.my-previous > span::after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f104";
	line-height: 26px;
}

div.my-next > span::after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f105";
	line-height: 26px;
}

div.my-carousel-container button.swing{
	animation:swing .7s ease-in-out infinite alternate;
	filter:drop-shadow(0 .2rem .2rem rgb(0, 0, 0, 0.37));
}

@keyframes slowEntrance{
	from{
		transform: translateY(25%);
	}
	to{
		transform: translateY(0);
	}
}


@keyframes swing{
	from{
		transform:translate3d(0, 0, 0);
	}
	to{
		transform:translate3d(30px, 0px, 30px);
	}
}

@keyframes scale{
	from {
		color:black;
		transform: scale(1) translateY(-50%);
	}
	to {
		color: #81D8D0;
		transform: scale(1.1) translateY(-50%);
	}
}